.puzzle-table {
    border-collapse: collapse;
    height: fit-content;
}

.puzzle-table-row, .puzzle-table-row td {
    border: none;
    height: 100%;
}

.puzzle-table-row.meta td:nth-child(n+3) {
    font-weight: bold;
    font-style: italic;
}

.puzzle-table-row:not(.header) td:nth-child(n+2) {
    border-bottom: 1px solid var(--accent-color);
}

.puzzle-table-row.header {
    font-weight: bold;
    background-color: var(--accent-color);
}

.puzzle-table-row .icon {
    height: 2em;
}

.puzzle-table-row td {
    padding: 3px 7px;
}

.puzzle-table-row td:nth-child(1):not(:has(.meta-collapser)) {
    vertical-align: top;
}

.puzzle-table-row td:nth-child(3) {
    width: 100%;
}

.puzzle-table-row .links {
    display: flex;
}

.puzzle-table-row .links a {
    text-decoration: none;
}

.puzzle-table-row .answer {
    display: flex;
    white-space: nowrap;
}

.puzzle-table-row .meta-collapser {
    cursor: pointer;
    text-align: center;
    transform: rotate(90deg);
    user-select: none;
}

.puzzle-table-row .meta-collapser.collapsed {
    transform: rotate(0);
}

.puzzle-table-row.collapsed, .puzzle-table-row.filtered:not(.meta) {
    display: none;
}

.puzzle-table-row.filtered.meta td:nth-child(n + 2) {
    visibility: hidden;
}

.puzzle-table-row .puzzle-filler {
    display: none;
}

.puzzle-table-row.filtered.meta .puzzle-filler {
    display: block;
    visibility: visible;
    font-weight: normal;
}

.puzzle-table-row.filtered.meta .puzzle-name {
    display: none;
}

.puzzle-table-row .more-info {
    position: relative;
}

.puzzle-table-row .more-info img {
    cursor: pointer;
}

.puzzle-table-row .more-info-popup {
    position: absolute;
    right: 0;
    width: fit-content;
    white-space: nowrap;
    background-color: var(--off-white);
    border: 1px solid var(--accent-color);
    border-radius: 8px;
    padding: 6px;
    font-weight: normal;
    font-style: normal;
    box-shadow: 3px 5px 5px var(--accent-color);
    display: none;
    z-index: 9999;
}

.puzzle-table-row .more-info-popup.active {
    display: inherit;
}

.puzzle-table-summary {
    font-style: italic;
    margin-top: 0.5em;
}