{% load static %}
<tr
        class="puzzle-table-row{% if puzzle.is_meta %} meta meta-{{ puzzle.id }}{% endif %}{% if from_meta is not None %} from-meta-{{ from_meta.id }}{% endif %}"
        data-tag-ids="{% for t in puzzle.tags.all %}{{ t.id }}{% if not forloop.last %},{% endif %}{% endfor %}"
        data-tag-names="{% for t in puzzle.tags.all %}{{ t.name|lower }}{% if not forloop.last %},{% endif %}{% endfor %}"
>
    <td style="padding: 0 5px">
        {% if puzzle.is_meta %}
            <div id="meta-{{ puzzle.id }}-collapser" class="meta-collapser">
                &#9654;
            </div>
        {% endif %}
    </td>
    <td>
        {{ puzzle.round.marker }}
    </td>
    <td>
        <div class="puzzle-name">{{ puzzle.name }}</div>
        {% if puzzle.is_meta %}
            <div class="puzzle-filler">(This metapuzzle does not match the current filters, but some of its feeders do.)</div>
        {% endif %}
    </td>
    <td>
        <div class="answer">
            {% if puzzle.answer is not None %}
                {{ puzzle.answer.upper }}
            {% else %}
                <button id="solve-button-{{ puzzle.id }}">Solve</button>
                <script type="text/javascript">
                    const solveButton{{ puzzle.id }} = document.getElementById('solve-button-{{ puzzle.id }}');
                    solveButton{{ puzzle.id }}.addEventListener('click', () => {
                        clearAllPopups();
                        document.getElementById('solve-puzzle-popup').classList.add('visible');
                        document.getElementById('solve-puzzle-popup-title').innerText = '{{ puzzle.name }}';
                        document.getElementById('solve-puzzle-id-field').value = '{{ puzzle.id }}';
                    })
                </script>
            {% endif %}
        </div>
    </td>
    <td>{{ puzzle.priority }}</td>
    <td>
        <div class="links">
            <a href="{{ puzzle.spreadsheet_link }}" target="_blank">
                <img class="icon" src="{% static 'images/sheets_icon.png' %}" alt="Spreadsheet" title="Spreadsheet">
            </a>
            <a href="https://discord.com/channels/{{ puzzle.hunt.guild_id }}/{{ puzzle.channel_id }}" target="_blank">
                <img class="icon" src="{% static 'images/text_channel_icon.png' %}" alt="Text channel" title="Text channel">
            </a>
            <a href="https://discord.com/channels/{{ puzzle.hunt.guild_id }}/{{ puzzle.voice_channel_id }}" target="_blank">
                <img class="icon" src="{% static 'images/voice_channel_icon.png' %}" alt="Voice channel" title="Voice channel">
            </a>
        </div>
    </td>
    <td>
        <div class="more-info">
        <img id="puzzle-{{ puzzle.id }}-info"
             class="icon"
             src="{% static 'images/info_icon.png' %}"
             alt="More Info"
             title="More Info">

        {% include "components/puzzle-info-popup.html" with puzzle=puzzle all_tags=all_tags%}
        </div>
        <script type="text/javascript">
        (function() {
            const infoButton = document.getElementById('puzzle-{{ puzzle.id }}-info');
            const popupEl    = document.getElementById('puzzle-{{ puzzle.id }}-info-popup');

            infoButton.addEventListener('click', (e) => {
                e.stopPropagation();
                if (popupEl.classList.contains('active')) {
                    popupEl.classList.remove('active');
                } else {
                    closeAllInfos();
                    popupEl.classList.add('active');
                }
            });

            popupEl.addEventListener('click', (e) => {
                e.stopPropagation();
            });
        })();
    </script>
    </td>
</tr>