{% extends "base.html" %}
{% load static %}

{% block head-content %}
    <link rel="stylesheet" href="{% static "css/puzzle-table.css" %}">
    <link rel="stylesheet" href="{% static "css/components.css" %}">
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% include 'components/filter-dialog.html' %}
        <table id="puzzle-table" class="puzzle-table">
            <tr id="puzzle-table-header" class="puzzle-table-row header">
                <td></td>
                <td>Round</td>
                <td>Puzzle</td>
                <td>Answer</td>
                <td>Priority</td>
                <td>Links</td>
                <td>Info</td>
            </tr>
            {% for puzzle_set in puzzle_sets %}
                {% if puzzle_set.meta is not None %}
                    {% include 'components/puzzle-table-row.html' with puzzle=puzzle_set.meta %}
                    <script>
                        const collapser = document.getElementById('meta-{{ puzzle_set.meta.id }}-collapser');
                        function toggleCollapse(forceOpen) {
                            const puzzles = document.getElementsByClassName('from-meta-{{ puzzle_set.meta.id }}');
                            if (collapser.classList.contains('collapsed') || forceOpen === true) {
                                collapser.classList.remove('collapsed');
                                for (const puzzle of puzzles) {
                                    puzzle.classList.remove('collapsed');
                                }
                            } else {
                                collapser.classList.add('collapsed');
                                for (const puzzle of puzzles) {
                                    puzzle.classList.add('collapsed');
                                }
                            }
                            updateSummary();
                            updateMetaSubsets();
                        }
                        collapser.addEventListener('click', toggleCollapse);
                    </script>
                {% endif %}
                {% for puzzle in puzzle_set.puzzles %}
                    {% include 'components/puzzle-table-row.html' with puzzle=puzzle from_meta=puzzle_set.meta %}
                {% endfor %}
            {% endfor %}
        </table>
        <div id="puzzle-table-summary" class="puzzle-table-summary"></div>
        <script>
            const summary = document.getElementById('puzzle-table-summary');
            function updateSummary() {
                const hidden = document.querySelectorAll('.puzzle-table-row.collapsed:not(.filtered)').length;
                const showing = document.querySelectorAll('.puzzle-table-row:not(.header):not(.filtered):not(.collapsed)').length;
                summary.innerText = 'Showing ' + showing + ' puzzle' + (showing === 1 ? '' : 's ' ) + ' (' + hidden + ' hidden)';
            }
            updateSummary();

            const table = document.getElementById('puzzle-table').children[0];
            function updateMetaSubsets() {
                const children = table.children;
                for (let r = 0; r < children.length; r++) {
                    const row = children[r];
                    let fromMetaClass = undefined;
                    for (const className of row.classList) {
                        if (className.startsWith('from-meta-')) {
                            fromMetaClass = className;
                        }
                    }
                    if (fromMetaClass) {
                        if (row.tagName === 'TR') {
                            const cell = row.children[0];
                            let nextVisibleRow = undefined;
                            for (let nr = r + 1; nr < children.length; nr++) {
                                const classList = children[nr].classList;
                                if (!classList.contains(fromMetaClass)) {
                                    break;
                                } else if (!classList.contains('filtered')) {
                                    nextVisibleRow = children[nr];
                                    break;
                                }
                            }
                            if (!nextVisibleRow || !nextVisibleRow.classList.contains(fromMetaClass)) {
                                cell.innerHTML =
                                    '<div style="display: inline-block; height: 50%; width: 46%;"></div>'
                                    + '<div style="display: inline-block; height: 50%; width: 46%; border-left: 1px solid var(--accent-color); border-bottom: 1px solid var(--accent-color);"></div>'
                            } else {
                                cell.innerHTML =
                                    '<div style="height: 100%; width: 48%; border-right: 1px solid var(--accent-color);"></div>'
                            }
                        }
                    } else if (row.classList.contains('meta')) {
                        let metaClass = undefined;
                        for (const className of row.classList) {
                            if (className.startsWith('meta-')) {
                                metaClass = className;
                            }
                        }
                        const fromMetaClass = 'from-' + metaClass;
                        let hasVisibleChildren = false;
                        for (let nr = r + 1; nr < children.length; nr++) {
                            const classList = children[nr].classList;
                            if (children[nr].tagName === 'TR') {
                                if (!classList.contains(fromMetaClass)) {
                                    break;
                                } else if (!classList.contains('filtered')) {
                                    hasVisibleChildren = true;
                                    break;
                                }
                            }
                        }
                        if (!hasVisibleChildren && row.classList.contains('filtered')) {
                            row.style.display = 'none';
                        } else {
                            row.style.display = null;
                        }
                    }
                }
            }
            updateMetaSubsets();

            function closeAllInfos() {
                for (const info of document.getElementsByClassName('more-info-popup')) {
                    info.classList.remove('active')
                }
            }
            document.addEventListener('click', () => {
                closeAllInfos();
            })
            closeAllInfos();
        </script>
    {% else %}
    <h1>Welcome to Shardboard!</h1>
    <div>
        Shardboard is the 17th Shard's web dashboard for viewing and managing puzzles during puzzlehunts. It
        is integrated with our lovely Discord bot, M-Bot. If you're looking for a specific hunt
        dashboard, <a href="{% url 'login' %}">log in</a> using the hunt name and password provided by the bot
        when you run `!login` in a hunt channel.
    {% endif %}
    </div>
{% endblock %}